[Unit]
Description=Btrfs scrub on %f
ConditionPathIsMountPoint=%f

[Service]
Type=oneshot
ExecStart=/usr/bin/btrfs scrub start -B %f
Nice=19
IOSchedulingClass=idle
